.offers{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x:auto;
  overflow-y: hidden;
  padding: 3%;
  width:100%;
  min-height: 550px;
  max-height: 3000px;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  border-top-left-radius: 17%;
  margin-top:-30px;
  background: linear-gradient(145deg, #0a2a42 0%, #01213a 100%);
}
.offers div{
    padding-top:10px;
}

.offer-img-bg{
  background: #01213a;
  height:220px;
  width:100%;
  display: flex;
  justify-content: center;
  border-radius: 30px 30px 0 0;
  box-shadow:3px 3px 3px #00000030

}
.offer-img-bg:hover{
  border: solid 1px #00000050;
}
.offer-img-title{
  width:100%;
  height:40px;
  background: #08afa8;
  margin-right:0;
  margin-left:auto;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01213a;
  box-shadow:3px 3px 3px #00000030
}
img[class='offer']{
  width:200px;
  float:left;
}

.about{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url('/assets/suit-min.jpg');
  background-size: cover;
  width:100%; height:400px;
  background-repeat: no-repeat;
  border-bottom: solid 9px #005d5550;
}
.about div{
  padding-inline:4%; font-family: 'Tilt Warp', cursive; text-align: right; padding-top:30px;  text-shadow: 3px 3px 0px #ffffff70
}
.handwritten{
  position: absolute;
  top:100px;
  margin-left: 5px;
  font-family: Consolas;

}
.greenBackground{
  background: url('/assets/greenwave-min.png'); position: absolute; left:0;
  background-size:cover; margin-top:-162px; margin-bottom: -145px;width:100%; height:300px;
}
.handwritten div {
  color:white;
  background: #01213a;
  border-radius:2px;
  padding:5px;
  margin-block:2px;
}
.whiteWave{
  margin-top:-100px; width: 100%
}
.singleOffer{

  z-index:1002
}


@media(max-width: 900px) {
  .offers{
    grid-template-columns: 1fr;
    min-height: 1900px;
  }
  .infoGrid{
    display: block!important;
  }
  .about{
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .about div{
    text-align: left;
  }
  .about div h1{
    font-size:2rem!important;
  }
  .offers div{
    padding-top:30px;
  }


}
@media(min-width: 1200px){
  .about{
    background-position-y: -250px;
    background-size: cover;
  }
}
@media(min-width: 1400px){
  .about{
    height:600px
  }
}
.loadBar{
  width:100%; height:1px; background: white;animation: loading 1.5s ease infinite;
  margin:0;
}
.loadP{
  margin:0;
}
@keyframes loading {
  0%{width:0}100%{width:100%}
}
@keyframes rotate {
  0%{rotate:0} 100%{rotate:360deg}
}
@keyframes opac{
  0%{opacity:0.1}100%{opacity:1}
}
